.A002{
    color: white;
    background-color: orange;
  }
  .A003 {
    color: white;
   background-color:mediumblue;
  }
  .A004{
    color: white;
    background-color: black;
  }
  #A005{
    color: black;
    background-color: yellow;
  }
  #A006{
    color:deepskyblue ;
    background-color: white;
  }
  #A007{
    color: forestgreen;
    background-color:pink;
  }
  #A008{
    color:darkgreen;
    background-color:lightyellow;
  }
  .A009{
    color: black;
    background-color:skyblue;
  }
  table{
    background-color:black;
  }
  .A001{
    color: white;
    background-color: black;
  }
  .A010{
    color:white;
    background-color:black
  }